COMPOSE_PROJECT_NAME=b-connect

PHPVERSION=php83
DOCUMENT_ROOT=./www
APACHE_DOCUMENT_ROOT=/var/www/html
VHOSTS_DIR=./configs/vhosts
APACHE_LOG_DIR=./logs/apache2
PHP_INI=./configs/php/php.ini
SSL_DIR=./configs/ssl

UPLOAD_LIMIT=512M
MEMORY_LIMIT=512M

XDEBUG_LOG_DIR=./logs/xdebug
XDEBUG_PORT=9003

DATABASE=mysql8
MYSQL_INITDB_DIR=./configs/mysql/initdb
MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql

HOST_MACHINE_UNSECURE_HOST_PORT=80
HOST_MACHINE_SECURE_HOST_PORT=443

HOST_MACHINE_MYSQL_PORT=3306
HOST_MACHINE_PMA_PORT=8080
HOST_MACHINE_PMA_SECURE_PORT=8443

MYSQL_ROOT_PASSWORD=tiger
MYSQL_USER=docker
MYSQL_PASSWORD=docker
MYSQL_DATABASE=docker
